<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipselabs.jdt.modules"
            name="Java Module Views">
      </category>
      <view
            category="org.eclipselabs.jdt.modules"
            class="org.eclipselabs.jdt.modules.views.ModuleDependenciesView"
            icon="icons/sample.gif"
            id="org.eclipselabs.jdt.modules.views.ModuleDependenciesView"
            name="Module Dependencies View">
      </view>
      <view
            category="org.eclipselabs.jdt.modules"
            class="org.eclipselabs.jdt.modules.views.ModuleReadTreeView"
            icon="icons/sample.gif"
            id="org.eclipselabs.jdt.modules.views.ModuleReadTreeView"
            name="Module Read Tree">
      </view>
   </extension>

</plugin>
